/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "core.css.scss";

body {
	font-family: $main-font;
}

.navbar-default {
	color: $orange;
	margin-bottom:0px;
	background-color:#fff;
	border-color:#fff;

	.navbar-nav {
		li {
			padding: 10px;
			a {
				color: $gray;
				font-size:16px;
			}
			a:hover {
				color: $orange;
			}
			#btn-nav {
				font-family: $main-font;
				margin-top: -8px;
				background-color: $orange;
				border-color: $orange;
				font-size: 16px;
			}
		}
	}

	.navbar-brand img {
		margin-left:40px;
	}
}

footer {
	text-align: center;
	font-size: 15px;
	padding: 10px 0 6px 0;
}

