/*_________________________________*/
/*                                 */
/*           VARIABLES             */
/*                                 */
/*    FONTS, COLORS, BUTTONS       */
/*           AND MORE              */
/*                                 */
/* ________________________________*/

$main-font: Corbel, Helvetica Neue, sans-serif;

$orange: #e67e22;
$gray: #555353;
$lightgray: #f1f1f1;
