/*_________________________________*/
/*                                 */
/*           VARIABLES             */
/*                                 */
/*    FONTS, COLORS, BUTTONS       */
/*           AND MORE              */
/*                                 */
/* ________________________________*/

$main-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$orange: #e67e22;
$gray: #212121;
$lightgray: #f1f1f1;
