@import "core.css.scss";

/*_________________________________*/
/*                                 */
/*          SIGNUP/LOGIN           */
/* ________________________________*/


.container.devise.form {
	padding: 60px 0;
	background-color: #f9f9f9;
	margin:0px;
	width: 100%;
}

.container.profile.form {
	padding: 60px 0;
	background-color: #f9f9f9;
	margin: 0px;
	width: 100%;
}

form {
	border-radius: 5%;
	border: 2px solid $orange;
	padding: 50px;
	position: relative;
	left: 0%;
	background: rgba(255,255,255,.5);

	h2 {
		text-align: center;
		padding-bottom:30px;
	}

	label {
		font-size: 16px;
	}

	#user_remember_me {
		position: relative;
	}

	input {
		width: 100%;
		font-size: 16px;
	}
	#btn-form {
		width: 35%;
		font-family: $main-font;
		background-color: $orange;
		border-color: $orange;
		font-size: 16px;
		color: #fff;
		padding: 8px 12px 8px 12px;
		margin-top: 20px;
	}

	#form-button {
		text-align:center;
	}

	.form-group {
		label {
			padding-top:10px;
		}
	}

	#error_explanation {
		color: #e74c3c;

		h2 {
			font-size: 22px;
			padding-bottom: 0;
		}
	}
} 
