@import "core.css.scss";

/*_________________________________*/
/*                                 */
/*          SIGNUP/LOGIN           */
/* ________________________________*/


.container.devise.form {
	padding: 60px 0;
	background-image:url('/assets/backgrounds/background_devise_forms.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 40% 10% 60%;
    background-size:cover;
    width: 100%;
}

.container.profile.form {
	padding: 60px 0;
	background-image:url('/assets/backgrounds/background_profile_forms.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 40% 10% 60%;
    background-size:cover;
    width: 100%;
}

form {
	padding: 50px;
	border: 2px solid $orange;
	position: relative;
	left: 0%;
	background: rgba(255,255,255,.3);

	h2 {
		text-align: center;
		font-weight: 300;
		padding-bottom:30px;
	}

	label {
		font-size: 16px;
	}

	input {
		width: 100%;
		font-size: 16px;
	}
	#btn-form {
		width: 25%;
		font-family: $main-font;
		background-color: $orange;
		border-color: $orange;
		font-size: 16px;
		color: #fff;
		padding: 8px 12px 8px 12px;
		margin-top: 20px;
	}

	#form-button {
		text-align:center;
	}

	.form-group {
		label {
			padding-top:10px;
		}
	}

	#error_explanation {
		color: #e74c3c;

		h2 {
			font-size: 22px;
			padding-bottom: 0;
		}
	}
} 
