@import "core.css.scss";

/*_________________________________*/
/*                                 */
/*               SHOW              */
/* ________________________________*/
.container.office.profile {
	width:100%;
	padding-left:0px;
	padding-right:0px;

	#office_main_image {
		padding-top: 10px;
		width: 100%;
		height:400px;
	}

	ul {
		list-style:none;
	}

	#office-description {
		font-size:17px;
		padding-left:30px;
	}

	#map-canvas {
		margin-top:10px;
		width:100%;
		height: 395px;
	}

	#title_of_offer {
		p {
			font-size:24px;
		}

		h1 {
			font-weight: 900;
			padding-top:20px;
		}

		.col-lg-4 {
			padding: 18px 0 10px 0;
		}
	}

	#company-info {
		width:250px;
		background-color: #f9f9f9;	
		border: 2px solid #e67e22;
		border-radius:2px;
		float:right;
		margin-top:40px;
		margin-right: 70px;
		font-size:17px;
		ul
			{
				padding: 14px 7px;
			}
		#btn-form {
			font-family: $main-font;
			background-color: $orange;
			border-color: $orange;
			font-size: 16px;
			color: #fff;
			padding: 8px 17px 8px 17px;
			margin-top: 20px;
			margin-left: 60px;
		}
	}

}

/*_________________________________*/
/*                                 */
/*               NEW               */
/* ________________________________*/


.container.office.form {
	padding: 60px 0;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 20% 40% 10% 60%;
  background-size:cover;
  width: 100%;
  
  form {
  	border-radius: 0%;
		border: none;
		padding: 50px;
		position: relative;
		left: 0%;
		background: white;
  }
}

/*_________________________________*/
/*                                 */
/*              INDEX              */
/* ________________________________*/

.container.office.listings {
	width:100%;
	padding-left: 0px;
	padding-right: 0px;

	.pagination {
		li {
			a {
				color: #333333;
			}
		}
		.active {
			span {
				background-color:#e67e22;
				color: white;
				border: #e67e22;
			}
		}
	}

	#office_listing_image {
		width: 100%;
		height:120px;
	}

	ul {
		list-style: none;
	}

	#office_list {
		margin-left: -50px;
		padding-bottom:10px;
		padding-top:10px;
		color: #333333;
	}

	#office_list:hover {
		background-color:#e67e22;
		color:white;
	}

	#office_listing_title {
		h2 {
			font-family: "Lato", sans-serif;
			font-weight: 900;
			padding:0px;
			margin-top:0px;
			margin-bottom:0px;
			font-size:20px;
		}
	}

}