@import "core.css.scss";

/*_________________________________*/
/*                                 */
/*               SHOW              */
/* ________________________________*/
.container.office.profile {
	padding-top:20px;
	background-color: lightgray;

	#office_main_image {
		padding-top: 10px;
		width: 100%;
	}

	#map-canvas {
		margin-top:20px;
	}

	#title_of_offer {
		background-color: $orange;

		h1 {
			font-family: "Lato", sans-serif;
			font-weight: 900;
		}

		.col-lg-4 {
			padding: 18px 0 10px 0;
		}
	}

}

/*_________________________________*/
/*                                 */
/*               NEW               */
/* ________________________________*/


.container.office.form {
	padding: 60px 0;
	background-image:url('/assets/backgrounds/background_office_forms.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 40% 10% 60%;
    background-size:cover;
    width: 100%;
}

/*_________________________________*/
/*                                 */
/*              INDEX              */
/* ________________________________*/

.container.office.listings {
	padding-top:20px;
	background-color: lightgray;

	#office_listing_image {
		width: 100%;
	}

	ul {
		list-style: none;
	}

	#office_list {
		padding: 20px 20px;
		margin-left: -50px;
		background-color: white;
		margin-top: 10px;
		font-size:18px;
		font-weight: 33;
	}

	#office_listing_title {
		h2 {
			font-family: "Lato", sans-serif;
			font-weight: 900;
		}
	}

}