@import "core.css.scss";

/*_________________________________*/
/*                                 */
/*               SHOW              */
/* ________________________________*/
.container.office.profile {
	width:100%;
	padding-left:0px;
	padding-right:0px;

	#office_main_image {
		padding-top: 10px;
		width: 100%;
		height:400px;
	}

	ul {
		list-style:none;
	}

	#map-canvas {
		margin-top:10px;
		width:100%;
		height: 395px;
	}

	#title_of_offer {
		background-color: $orange;

		h1 {
			font-family: "Lato", sans-serif;
			font-weight: 900;
		}

		.col-lg-4 {
			padding: 18px 0 10px 0;
		}
	}

}

/*_________________________________*/
/*                                 */
/*               NEW               */
/* ________________________________*/


.container.office.form {
	padding: 60px 0;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 20% 40% 10% 60%;
  background-size:cover;
  width: 100%;
  
  form {
  	border-radius: 0%;
		border: none;
		padding: 50px;
		position: relative;
		left: 0%;
		background: white;
  }
}

/*_________________________________*/
/*                                 */
/*              INDEX              */
/* ________________________________*/

.container.office.listings {
	width:100%;
	padding-top:20px;
	padding-left: 0px;
	padding-right: 0px;

	#office_listing_image {
		width: 100%;
		height:120px;
	}

	ul {
		list-style: none;
	}

	#office_list {
		margin-left: -50px;
		padding-bottom:10px
	}

	#office_listing_title {
		h2 {
			font-family: "Lato", sans-serif;
			font-weight: 900;
			padding:0px;
			margin-top:0px;
			margin-bottom:0px;
			font-size:20px;
		}
	}

}