@import "core.css.scss";

/*_________________________________*/
/*                                 */
/*           CAROUSEL              */
/* ________________________________*/

.carousel-inner {
  height: 500px;
	.item {
		a, img {
			display: block;
			height: auto;
			max-width: 100%;
			line-height: 1;
			width: 100%;
		}
	}
}

a.carousel-control.right, a.carousel-control.left {
	background-image: none;
}

.headline {
    position:absolute;
    top:11%;
    left:13%;
    text-align:center;
    background: rgba(255,255,255,.5);
    padding: 5px 30px;

    h1 {
        color: $orange;
        font-family: 'Lato', sans-serif;
        font-size: 64px;
        font-weight: 700;
    }

    p {
        color: $gray;
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        font-weight: 100;
    }
}

.search {
    position:absolute;
    top:46%;
    left:5%;

    form {
        background: rgba(255,255,255,.5);
        padding-bottom: 80px;

        button {
            font-family: $main-font;
            background-color: $orange;
            border-color: $orange;
            font-size: 16px;
            padding: 7px 19px;
            margin-top: -2px;
        }
    }
}

/*_________________________________*/
/*                                 */
/*          DESCRIPTIONS           */
/* ________________________________*/

#descriptions {
	margin-top:-80px;
    padding-bottom:30px;

    .col-lg-4 {
        margin-bottom: 20px;
        text-align: center;

        .img-circle {
            width:152px;
            height:148px;
        }
        
        p {
          font-size: 20px;
          color: $gray;
          padding: 0 40px 0 40px;
          line-height: 1.2;
          margin-top: -10px;
        }
    }
    h2 {
        font-weight: bold;
        font-size: 28px;
    }
}

/*_________________________________*/
/*                                 */
/*             CITIES              */
/* ________________________________*/

#cities {
	background-color: $lightgray;
    padding:5px 0px;

    .row {

        .col-lg-4, .col-lg-5, .col-lg-7 {
            padding:5px;
        }
    }

    img:hover {
        opacity: 0.7;

        span.text-content:hover {
          opacity: 1;
        }
    }



    span.text-content {
      cursor: pointer;
      display: table;
      left: 45%;
      top: 50%;
      position: absolute;
      opacity:0;
    }
     
    span.text-content span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    h2 {
        font-weight: bold;
        text-align: center;
        color: $gray;
    }
}

/*_________________________________*/
/*                                 */
/*             STATS               */
/* ________________________________*/

#stats {
    background-color: #20202F;
    color: #fff;
    text-align: center;


    h2 {
        padding: 40px 0;
        font-weight:100;
    }
}

/*_________________________________*/
/*                                 */
/*              SEO                */
/* ________________________________*/

#seo {
    margin-top: 10px;
    padding:40px 0 40px 0;

    .row {
        padding: 0 100px 0 100px;
    }

    .col-lg-7 {
        margin-left:-10px;
    }

    h3 {
        font-weight: bold;
    }

    p {
        font-size: 15px;
        text-align: justify;
    }

    ul {
        margin-left: -23px;
    }

    img {
        margin-left:10px;
        padding-top: 20px;
    }
}

/*_________________________________*/
/*                                 */
/*              NAV                */
/* ________________________________*/

#alternative-navigation {
    .navbar-default {
        border-radius: 0;
        border-color: #20202F;
        background-color: #20202F;

        #bottom-nav {
            background-color: #20202F;
            padding: 10px 28px;
            
            .navbar-nav li {
                margin-right: -25px;
                
                &:last-child {
                    margin-right:20px;
                }

                a {
                    color:white;
                }
            }
        }
    }
}

