<div class="container faq">
    <div class="container-fluid">	
		<div class="row">
	        <div class="col-lg-2">
	        </div>
	        <div class="col-lg-8">
	        	<h2>Questions et réponses</h2>
	        	<p style="text-decoration:underline;">Lorem ipsum dolor sit amet?</p>
	        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id bibendum felis, vitae venenatis lectus. Maecenas id erat vel ipsum rhoncus placerat vitae commodo lorem. Suspendisse vel leo sagittis, interdum lectus id, consequat lorem. Suspendisse fringilla quis massa eu viverra. Integer imperdiet urna vitae tristique posuere. Morbi blandit, elit in vulputate dictum, augue libero fringilla justo, quis dictum mi metus non nisi. Vestibulum ut mi sed ex commodo malesuada at quis nunc. Integer magna sem, aliquam non nisl quis, mattis vehicula diam. Etiam tempus elit vitae eros viverra imperdiet.</p> 

	        	<p style="text-decoration:underline;">Lorem ipsum dolor sit amet?</p>
        		<p>Ut enim erat, viverra nec nisl vel, ultricies porta elit. Ut lacinia, tortor ut maximus hendrerit, velit libero efficitur est, vitae commodo nisi libero nec libero. Aliquam rutrum mi metus, eu euismod eros fermentum eu. Duis dui sapien, eleifend vel sodales quis, placerat facilisis leo. Cras in diam sit amet erat vehicula efficitur. Nulla vel tellus ornare, varius ipsum eget, fermentum turpis. Sed et condimentum lorem, et sagittis eros.</p>

        		<p style="text-decoration:underline;">Lorem ipsum dolor sit amet?</p>
        		<p>Ut enim erat, viverra nec nisl vel, ultricies porta elit. Ut lacinia, tortor ut maximus hendrerit, velit libero efficitur est, vitae commodo nisi libero nec libero. Aliquam rutrum mi metus, eu euismod eros fermentum eu. Duis dui sapien, eleifend vel sodales quis, placerat facilisis leo. Cras in diam sit amet erat vehicula efficitur. Nulla vel tellus ornare, varius ipsum eget, fermentum turpis. Sed et condimentum lorem, et sagittis eros.</p>
	        </div>
	        <div class="col-lg-2">
	        </div>
	    </div>
	</div>
</div>
