<div id="homecarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="assets/carousel/carousel01.jpg" alt="" />
        </div>
        <div class="item">
            <img src="assets/carousel/carousel02.jpg" alt="" />
        </div>
        <div class="item">
            <img src="assets/carousel/carousel03.jpg" alt="" />
        </div>
        <div class="item">
            <img src="assets/carousel/carousel04.jpg" alt="" />
        </div>
    </div>

    <a class="left carousel-control" href="#homecarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#homecarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    <div class="headline">
        <h1>Bienvenue au bureau</h1>
        <p>Louez votre prochain espace dans un <strong>centre d'affaires</strong>.</p>            
    </div>

    <div class="search">
        <div class="container">
          <div class="row">

            <div class="col-md-10 col-md-offset-1">
              <div class="form-section">
                <div class="row">
                    <form role="form">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="sr-only" for="location">Location</label>
                          <input type="email" class="form-control" id="location" placeholder="Addresse ?">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="checkin">Check in</label>
                          <div class="input-group">
                            <input type="text" class="form-control" id="checkin" placeholder="Check in">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="checkout">Check out</label>
                          <div class="input-group">
                            <input type="text" class="form-control" id="checkout" placeholder="Check out">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="guest">Guest</label>
                          <select id="guest" name="guest" class="form-control">
                              <option value="1">1 Personne</option>
                              <option value="2">2 Personnes</option>
                              <option value="3">3 Personnes</option>
                              <option value="4">4 Personnes</option>
                              <option value="5">5 Personnes</option>
                              <option value="6">6 Personnes</option>
                              <option value="7">7 Personnes</option>
                              <option value="8">8+ Personnes</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-default btn-primary">Search</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div id="descriptions">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="assets/icons/search-icon.png">
                <h2>Recherchez</h2>
                <p></p>
                <p class="description">parmi une large sélection<br>de centres d'affaires</p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="assets/icons/contact-icon.png">
                <h2>Contactez</h2>
                <p></p>
                <p class="description">directement les responsables<br>des centres</p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle" src="assets/icons/rent-icon.png">
                <h2>Louez</h2>
                <p></p>
                <p class="description">le bureau idéal pour vous<br>au meilleur prix</p>
            </div>
        </div>
    </div>
</div>

<div id="stats">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <h2>Aujourd’hui, plus de 1 francais sur 6 pratique le travail nomade<br>au moins une fois par semaine.</h2>
            </div>
            <div class="col-lg-2">
            </div>    
        </div>
    </div>
</div>

<div id="cities">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <a href="#"><img style="width:100%;" class="img-square" src="assets/cities/paris.jpg"></a>
                <span class="text-content"><span>Paris</span></span>
            </div>
            <div class="col-lg-5">
                <a href="#"><img style="width:100%" class="img-square" src="assets/cities/office_test.jpg"></a>
                <span class="text-content"><span>Bureau dans le 2eme</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="#"><img style="width:100%;" class="img-square" src="assets/cities/lyon.jpg"></a>
                <span class="text-content"><span>Lyon</span></span>
            </div>
            <div class="col-lg-4">
                <a href="#"><img style="width:100%; " class="img-square" src="assets/cities/bordeaux.jpg"></a>
                <span class="text-content"><span>Bordeaux</span></span>
            </div>
            <div class="col-lg-4">
                <a href="#"><img style="width:100%; " class="img-square" src="assets/cities/lille.jpg"></a>
                <span class="text-content"><span>Lille</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <a href="#"><img style="width:100%; " class="img-square" src="assets/cities/office_test2.jpg"></a>
                <span class="text-content"><span>Espace a coté d'Opera</span></span>
            </div>
            <div class="col-lg-7">
                <a href="#"><img style="width:100%;" class="img-square" src="assets/cities/marseille.jpg"></a>
                <span class="text-content"><span>Marseille</span></span>
            </div>
        </div>
    </div>
</div>

<div id="stats">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <h2>Les créations d’entreprises sont passées de 200,000 à 300,000<br>par an ces 10 dernières années auxquelles s'ajoutent<br>270,000 autoeentrepreneurs.</h2>
            </div>
            <div class="col-lg-2">
            </div>    
        </div>
    </div>
</div>

<div id="seo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <h3>Pourquoi louer un bureau dans un centre d’affaires ?</h3>
                <p>Économisez de l’argent et facilitez-vous la vie en louant un bureau dans un centre d’affaires plutôt qu’un bureau traditionnel. Les bureaux en centres d’affaires sont entièrement équipés et leur prix inclut le loyer, les taxes, l’ameublement, l’éclairage, le chauffage, la climatisation, une connexion Internet haut débit, l’entretien, les services d’accueil, le nettoyage, les équipements de sécurité, diverses assurances ainsi que l’accès à la cuisine et aux toilettes.</p>
                <h3>Comment trouver votre centre d’affaires ?</h3>
                <p>Vous recherchez un bureau à louer dans un centre d’affaires ? Centredaffaires.com vous propose un annuaire complet vous permettant de rechercher et de sélectionner un centre d’affaires parmi une sélection des meilleurs centres d’affaires.</p>
                <h3>Les avantages à utiliser Centredaffaires.com ?</h3>
                <ul>
                    <li>Recherche gratuite de bureaux en centre d’affaires</li>
                    <li>Plusieurs milliers de bureaux à louer en France</li>
                    <li>Mise en contact directe avec le centre d’affaires sélectionné</li>
                    <li>Recherche facile par ville.</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <img src="/assets/backgrounds/background_office_seo.jpg">
            </div>    
            

            
        </div>
    </div>
</div>

<script>
    $(function(){
        $('.carousel').carousel({
            interval: 3000
        });
    });
</script>