<div class="container how-it-works" style="padding-top:50px;padding-bottom:100px;">
  <div class="container-fluid">	
		<div class="row">
	        <div class="col-lg-2">
	        </div>
	        <div class="col-lg-4">
	        	<h2>Recherchez</h2>
	        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id bibendum felis, vitae venenatis lectus. Maecenas id erat vel ipsum rhoncus placerat vitae commodo lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id bibendum felis, vitae venenatis lectus. Maecenas id erat vel ipsum rhoncus placerat vitae commodo lorem.</p>
	        </div>
	        <div class="col-lg-4">
	        	<img style="width:100%;" src="/assets/works/search.png">
	        </div>
	        </div>
	        <div class="col-lg-2">
	        </div>
	    </div>

	    <div class="row" style="padding-top:50px;">
	        <div class="col-lg-2">
	        </div>
	        <div class="col-lg-4">
	        	<img style="width:100%;" src="/assets/works/conversation.png">
	        </div>
	        <div class="col-lg-4">
	        	<h2>Consultez</h2>
	        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id bibendum felis, vitae venenatis lectus. Maecenas id erat vel ipsum rhoncus placerat vitae commodo lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id bibendum felis, vitae venenatis lectus. Maecenas id erat vel ipsum rhoncus placerat vitae commodo lorem.</p>
	        </div>
	        <div class="col-lg-2">
	        </div>
	    </div>

	    <div class="row" style="padding-top:50px;">
	        <div class="col-lg-2">
	        </div>
	        <div class="col-lg-4">
	        	<h2>Louez</h2>
	        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id bibendum felis, vitae venenatis lectus. Maecenas id erat vel ipsum rhoncus placerat vitae commodo lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id bibendum felis, vitae venenatis lectus. Maecenas id erat vel ipsum rhoncus placerat vitae commodo lorem.</p>
	        </div>
	        <div class="col-lg-4">
	        	<img style="width:100%;" src="/assets/works/office.jpg">
	        </div>
	        <div class="col-lg-2">
	        </div>
	    </div>
	</div>
</div>
<%= render 'layouts/footer2' %> 
<%= render 'layouts/footer' %> 
