<div id="alternative-navigation">
    <nav role="navigation" class="navbar navbar-default">
        <div class="container-fluid" id="bottom-nav">
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Accueil</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Comment ca marche?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">FAQ</a>
                    </li>   
                     <li class="page-scroll">
                        <a href="#">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Mentions legales</a>
                    </li>   
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#"></a>
                    </li>
                    <li class="page-scroll">
                        <a>Rejoignez CentredAffaires.com sur</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#"><img src="/assets/icons/facebook-icon.png" style="margin-top: -5px;"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#"><img src="/assets/icons/google-icon.png" style="margin-top: -5px;"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#"><img src="/assets/icons/linkedin-icon.png" style="margin-top: -5px;"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#"><img src="/assets/icons/twitter-icon.png" style="margin-top: -5px;"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>