<div class="container-fluid bottom footer">
    <footer>
        <ul class="nav navbar-nav navbar-left">
            <li class="hidden">
                <a href="#"></a>
            </li>
            <li class="page-scroll">
                <a href="/">Accueil</a>
            </li>
            <li class="page-scroll">
                <a href="/how_it_works">Comment ca marche?</a>
            </li>
            <li class="page-scroll">
                <a href="/faq">FAQ</a>
            </li>   
             <li class="page-scroll">
                <a href="#">Contact</a>
            </li>
            <li class="page-scroll">
                <a href="#">Mentions legales</a>
            </li>   
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#"></a>
            </li>
            <li class="page-scroll">
                <p>Rejoignez CentredAffaires.com sur</p>
            </li>

            <li class="page-scroll">
                <a href="#"><img id="fbook-icon" src="/assets/icons/facebook-icon.png"></a>
            </li>
            <li class="page-scroll">
                <a href="#"><img id="google-icon" src="/assets/icons/google-icon.png"></a>
            </li>
            <li class="page-scroll">
                <a href="#"><img id="twitter-icon" src="/assets/icons/twitter-icon.png"></a>
            </li>
            <li class="page-scroll">
                <a href="#"><img id="linkedin-icon" src="/assets/icons/linkedin-icon.png"></a>
            </li>
        </ul>
    </footer>
</div>