<div class="container-fluid">
    <nav role="navigation" class="navbar navbar-default navbar-static-top">  
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="/assets/logo.png" alt="Centre d'Affaires" /></a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#"></a>
                </li>
                <li class="page-scroll">
                    <a href="/register">Inscription</a>
                </li>
                <li class="page-scroll">
                    <a href="/login">Connexion</a>
                </li>
                <li class="page-scroll">
                    <a href="#">Aide</a>
                </li>     
            </ul>
        </div>
    </nav>
</div>